<!DOCTYPE html>
<html lang = "en">
<head>
<title>Birthday App</title>

<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background: rgb(104, 77, 254);
    }
    .todo-container {
    color: rgb(14, 13, 13);
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
 
   
</style>
</head>
<body>

<h2>Hello World</h2>

</body>


    </html>