<!DOCTYPE html>
<html lang = "en">
<head>
<title>Birthday App</title>
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background: rgb(104, 77, 254);
    }
    .todo-container {
    color: rgb(14, 13, 13);
    position: absolute;
    top:50%;
    left: 50%;
    padding: 20px;
    width: 600px;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }



</style>
</head>
<body>
<div class="todo-container">
<h2>Birthday</h2>
<div class="todo">
    <row>
        
        <form action="/newtodo" method="POST" >
            <input type="text" name="item" placeholder="What is your Name?">
            <input type="text" name="item1" placeholder="What is your Birthday Date?">
            <button type="submit" ><span class="fas fa-plus"></span></button>
            </form>
    </row>


<ul class="todo-list">
    <% for(var i = 0; i < birthdayList.length; i++) { %>
<li class="todo-list-item">
<div class="todo-list-item-name">
  <label for="todo1" class="checked" >  <%= (i+1) + ". " + birthdayList[i].name + " " + birthdayList[i].date %></label><br>

</div>
<a href="/destroy/<%= birthdayList[i]._id %>" class="remove">
  <span class="fas fa-times"></span>
  </a>
            
</li>
<% } %>
</ul>
</div>
</div>

</body>
</html>